<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>      
      {% block head %}{% endblock %}
      <link rel="stylesheet" type="text/css" href="/media/css/login_signup.css" >
    </head>
    <body>
      <div class='topBox'>
      {% if logged %}
      
      <span class=user>{{ user }}</span>|
      <a href="/account/" class=topTab>Home</a>|<a href="/account/logout" class=topTab>Logout</a>
      {% else %}
      <a href="/account/" class=topTab>Login</a> <a href="/account/signup" class=topTab>Register</a>
      
      {% endif %}
      </div>
      <div id=tabs>

        <div id="content_wrapper" class=wrapper>
          <div id=content class=page>
            {% block content %}
            {% endblock %}
          </div>
        </div>
 	
      </div>

    </body>
</html>
