<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% block head %}
{% endblock %}
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<link href="/media/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	  <span class="topLogout" align="right" style="display:block;margin:20px;"><h3><a href="/account/logout">logout</a>&nbsp|&nbsp<a href="/account/settings">settings</a></h3></span>
		<div id="header">
				<h1>KGP Wiki</h1>
				<p></p>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/account/home">Home</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contacts</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">				
				  {% block content %}
				  {% endblock %}					
	</div>
	<div style="clear: both;">&nbsp;</div>
	<!-- end #content -->
	
	<div style="clear: both;">&nbsp;</div>
	
	<!-- end #page -->
	<div id="footer">
	  <p>Copyright (c) 2012 wikikgp.com All rights reserved.</p>
	</div>
	<!-- end #footer -->
</body>
</html>
